* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  img,
  .hidden {
    display: none;
  }
  
  img[src] {
    display: block;
  }
  
  #main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87b7ff;
  }
  
  #weather-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 15%;
    width: 90%;
  }
  
  #weather-and-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
    width: 90%;
  }

  #side-container {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  
  #search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .search-result:hover {
    font-weight: bold;
    cursor: pointer;
  }

  #weather-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;
  }
  
  #weather-item {
    width: 177px;
    height: 220px;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: center;
  }

  #daily-icon {
    display: block;
    float: left;
    height: 150px;
  }
  
  h1{
    font-weight: 600;
    font-size: 70px;
    color: black
  }

  h1{
    font-size: 45px;
    color: black
  }